.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.logout {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.logout:hover,
.logout:active,
.logout.active {
  color: white;
}

svg {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

svg:hover,
svg:active,
svg.active {
  color: white;
}

.nav-dropdown-options {
  position: absolute;
  width: 160px;
  top: 55px;
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  border-width: 1px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.nav-icon {
  position: relative;
}

.option {
  cursor: pointer;
}
