.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.form-item {
  display: flex;
  width: 260px;
  justify-content: space-between;
}

.heading {
  margin: 0;
  text-align: center;
}

.signin-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-button {
  width: 280px;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #77002e;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.auth-button:disabled {
  opacity: 0.5;
}
